*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #77aa77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

#miplaza {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 150vh;
  max-width: 90vw;
  margin: 0 auto;
  gap: 1rem;
}
.left-container,
.right-container {
  display: grid;
  justify-content: center;
  height: 100%;
  background-color: #89cc7c;
  padding: -10px;
  gap: 1px;
}

.componente {
  height: 80px;
  position: absolute;
  z-index: 999;
}

.center-container {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1/2;
  grid-template-rows: 200px 1fr 200px 1fr;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 32px;
}
.cielo {
  background: rgba(77, 240, 203);
  border-radius: 1rem;
  opacity: 0.5;
  z-index: -1;
  grid-column: 1/2;
  grid-row: 2/4;
}
.suelo {
  background: rgba(125, 213, 150);
  border-radius: 0 0 1rem 1rem;
  z-index: 100;
  grid-row: 3/5;
  grid-column: 1/2;
}
.contenedor-componente {
  position: relative;
  width: 100%;
  height: 100%;
}

#plaza17,
#plaza4 {
  width: 40px;
  height: 40px;
}
